:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --title-light-theme-colour: #212121;
  /* --title-dark-theme-colour: #FFFFFF; */
  --description-theme-colour: #757575;
  --accent-color: #2196f3;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  font-style: normal;
  width: 1600px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.adress {
  font-style: normal;
}
img {
  display: block;
}

.container {
  width: 1200;
  padding: 0 15px;
  margin: 0 auto;
}
.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-light-theme-colour);
}

.modal-btn {
  background: var(--accent-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px;
  width: 200px;
  min-height: 50px;
  border-radius: 4px;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.subtitly-qualitys {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-theme-colour);
}
.logo-navigation-list-link {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}
.second-title {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-colour);
}
.position {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-colour);
}
.name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-colour);
}
.footer-navigation-list-item {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: #ffffff; */
}
.footer-navigation-list-link,
.footer-tel-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  /* color: rgba(255, 255, 255, 0.6); */
}

.potfolio-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-light-theme-colour);
}
.potfolio-btn:hover,
.potfolio-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.portfolio-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-light-theme-colour);
}
.potfolio-subtitle {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--description-theme-colour);
}
.logo-color {
  color: #000000;
}
/* ==================header======================= */

.header {
  padding: 24px 0 25px 0;
}
.header .container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0 15px;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.adress .list {
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.header .adress {
  margin-left: auto;
}
.header-link {
  margin-right: 43px;
}
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--description-theme-colour);
}
/* ================HERO==================== */

.hero {
  background-color: #2f303a;
  height: 600px;
  margin-bottom: 40px;
}

.hero .container {
  text-align: center;
}
.hero-title {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 200px;
  padding-bottom: 30px;
}
/* =================qualitys============= */

.container .qualitys-item {
  display: flex;
  width: 1200px;
}
.qualitys-item:not(:last-child) {
  margin-right: 30px;
}
